@page "/"
<img src="https://www.sait.ca/assets/images/sait/logos/logo-sait-vertical-downloadable.png" alt="Sait logo" height="50px" width=" = 50px">
<h1>Hello, SAIT students!</h1>

Welcome to your new app. We are excited to have you here.
